<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.SWAG_Quiz"
        tools:targetApi="31">
        <activity
            android:name=".StudentDashboardActivity"
            android:exported="true" />
        <activity
            android:name=".TrackProgressActivity"
            android:exported="true" />
        <activity
            android:name=".CreateQuizActivity"
            android:exported="true" />
        <activity
            android:name=".PastQuizzesActivity"
            android:exported="true" />
        <activity
            android:name=".AdminDashboardActivity"
            android:exported="true" />
        <activity
            android:name=".SignUpActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>